@page "/"

<PageTitle>Index</PageTitle>

<h1>RDLC Report</h1>
<a id="btnGenerate" class="btn btn-primary" href="https://localhost:7017/api/Reports/getProducts">DownLoad Product</a>
<a id="btnGenerate" class="btn btn-primary" href="https://localhost:7017/api/Reports/getReservations">DownLoad Reservation Report</a>